body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121414;
}

.rounded15 {
    border-radius: 15px;
}

.display-1 {
    font-family: SF Compact Display;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 76px;
}

.body24 {
    font-family: SF Compact Display;
    font-style: normal;
    font-size: 24px;
}

.body34 {
    font-family: SF Compact Display;
    font-style: normal;
    font-size: 34px;
    line-height: 41px;
}

.bold-text {
    font-weight: bold;
}


.hero {
    padding-top: 128px;
    padding-bottom: 128px;
    background-image: url('../assets/hero_background.png');
    background-attachment: fixed;
    background-size: cover;
}

.normal-text {
    font-weight: 500;
}

.body20 {
    font-family: SF Compact Display;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}


/*components*/
.date-component {
    width: 143px;
    height: 53px;
    /* Gray 6 */
    background: #F2F2F2;
    text-align: center;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.date-component p {
    padding-left: 8px;
    opacity: 1 !important;
}

/*button*/
.btn-base {
    max-width: 380px;
    width: 100%;
    height: 60px;
    /* coolbet/colors/primaryBlueColor */
    background: #17BEFF;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.btn-outlined {
    width: 100%;
    height: 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    border: 1px solid #17BEFF;
    color: #17BEFF;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 7px;
}

.card {
    background-color: #222127;
    width: 380px;
    height: 205px;
    position: relative;
}

.card-win {
    background-color: #222127;
    width: 100%;
    height: 205px;
}

.card-prize {
    background-color: #222127;
    width: 85%;
    padding: 32px;
}

.explainer {
    padding-top: 64px;
    padding-bottom: 64px;
}


.card-w {
    padding-left: 16px;
    width: 231px;
}

.center {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    align-items: center;
}

/*grid system*/

.container {
    max-width: 1200px;
    width: 100%;
    display: block;
    margin: 0 auto;
}


.row {
    display: flex;
}

.space {
    justify-content: space-between;
}

.col-3 {
    max-width: 1200px;
    width: 30%;
}

.col-6 {
    max-width: 1200px;
    width: 50%;
}

.col-8 {
    max-width: 1200px;
    width: 60%;
}

.logo {
    width: 216px;
    height: 26px;
}

.date-row {
    width: 338px;
    display: flex;
}

.date-row .cinza {
    padding-left: 32px;
}

.olymp {
    width: 163px;
}

.box {
    width: 68px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.blue {
    background-color: #17BEFF;
}

.blue-text {
    color: #17BEFF;
}

.green {
    background-color: #70C62A;
}

.green-text {
    color: #70C62A;
}

.orange {
    background-color: #FF8F04;
}

.red {
    background-color: #E11D00;
}

.preto {
    background-color: #121414;
}

.cinza-escuro {
   color: #3e3e3e;
}

.cinza {
    color: #BDB9B3;
}

.cinza-light {
    color: #F2F2F2;
}

.branco {
    color: #DAD9D8;
}

.preto-text {
    color: #222127;
}


.start {
    padding-bottom: 64px;
    padding-top: 64px;
    width: 20%;
    text-align: center;
}


/*NAVBAR*/
nav {
    height: 10vh;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

footer{
    height: 10vh;
    background-color: #121414;
    display: flex;
    align-items: center;
}



@media screen and (max-width: 768px) {
    .display-1 {
        font-family: SF Compact Display;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 60px;
    }

    .row {
        flex-direction: column;
    }

    .start {
        padding-bottom: 64px;
        padding-top: 64px;
        width: 80%;
        text-align: center;
    }

    .hero {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 64px;
        padding-top: 32px;
    }

    .col-3 {
        margin-top: 16px;
        width: 80%;
    }


    .col-6 {
        width: 100%;
    }

    .explainer {
        display: block;
        margin: 0 auto;
        padding-right: 20px;
        padding-left: 20px;
    }
    .card{
        width: 130%;
    }
    .card-w {
        padding-left: 0px;
    }


    /*NAVBAR*/
    .line {
        width: 30px;
        height: 2px;
        background-color: #ffffff;
        margin: 5px;

    }

    nav {
        position: relative;
    }
    .navbar{
        padding-left: 20px;
        padding-right: 20px;
    }
    .logo{
        margin-left: 10px;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }

    .nav-links {
        position: fixed;
        background: #67d4e8;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-links.open {
        clip-path: circle(1200px at 90% -20%);
        -webkit-clip-path: circle(1200px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: all;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li a {
        font-size: 24px;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    li.fade {
        opacity: 1;
    }
}